
/* active this css whatever is the width*/
* {
    box-sizing: border-box;
    
}

 /* labtop */
@media only screen and (min-width: 868px) {
    body {
        background-color: black;
        width: 960px;
        margin: auto;
    }
    
    div {
     
        border: #000 groove 1px;
    
    }
    
    .a {
        background-color: #AA5593;
        height: 100px;
        width: 960px;
    }
    .a p {
        line-height: 50px;
    }
    
    .b {
        width: 200px;
        height: 600px;
        float: left;
    }
    .b p {
        margin-top: 300px;
    
    }

    .cd {
        display: flex;
    }
    
    .c,.d {
        width: 380px;
        height: 200px;
    }

    .c p,.d p {
        margin-top: 100px;
    }
    
    div :only-child {
        text-align: center;
    }
    
    
    .e,.f,.g,.h {
        width: 190px;
        height: 250px;
    }
    .e p,.f p,.g p,.h p {
        margin-top: 125px;
    }
    

    .ef,.gh {
        display: flex;
        flex-wrap: wrap;
    }
    .efgh {
        display: flex;
        flex-direction: row;
    }
    
   
    .i {
    
        height: 150px;
        width: 760px;
        float: right;
    }
    .i p {
        margin-top: 75px;
    }
} 


/* tablet 769px ->laptop */
/* @media only screen and (min-width: 769px) {
    body {
        background-color: blue;
        width: 960px;
        margin: auto;
    }
    
    div {
     
        border: #000 solid 1px;
    
    }
    
    .a {
        background-color: #AA5569;
        height: 100px;
        width: 960px;
    }
    .a p {
        line-height: 50px;
    }
    
    .b {
        width: 200px;
        height: 600px;
        float: left;
    }
    .b p {
        margin-top: 300px;
    
    }
    
    .c,.d {
        width: 380px;
        height: 200px;
        float: left;
       
    }
    .c p,.d p {
        margin-top: 100px;
    }
    
    
    
    div :only-child {
        text-align: center;
    }
    
    
    
    
    .e,.f,.g,.h {
        width: 190px;
        height: 250px;
    }
    .e p,.f p,.g p,.h p {
        margin-top: 125px;
    }
    
    .e {
        float: left;
    }
    
    .f {
        float: right;
    }
    
    .g {
        float: left;
    }
    
    .h {
        float: right;
    }
    
    .i {
    
        height: 150px;
        width: 760px;
        float: right;
    }
    .i p {
        margin-top: 75px;
    }
} */


/* phone - 0 -> 768px*/
@media only screen and (max-width: 768px) {

    body {
        background-color: red;
        width: 480px;
        margin: auto;
    }

    div {
        border: #000 solid 1px;
    }
    
    div :only-child {
        text-align: center;
    }
    
    .a,
    .b,
    .c,
    .d,
    .i {
        width: 480px;
    }

    .a {
        height: 75px;
        background-color: #9655AA;
    }


    .b {
        height: 150px;
    }

    .b p {
        margin-top: 75px;
    }
    
    .c,
    .d {
        height: 125px;
    }

    .c p,
    .d p {
        margin-top: 62.5px;
    }
    
    .e,
    .f,
    .g,
    .h {
        width: 240px;
        height: 250px;
    }

    .efgh {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .e p,
    .f p {
        margin-top: 125px;

    }

    .g p,
    .h p {
        margin-top: 125px;

    }

    .i {

        height: 80px;
    }
    
    .i p {
        margin-top: 40px;
    }

}
